*{
    margin: 0;
    padding: 0;
   }
   /* fazer essa determinação em todos é um boa pratica pois o asterisco garante que vai ser
   aplicado em todo documento, e assim vc pode ajustar a margem de acordo com sua
   preferencia */
   h1{
    color:rgba(119, 122, 123, 0.942);
    font-size: 90px;
    font-weight: 900;
    text-decoration:wavy;
    text-align: center;
    background-size: cover;
    font-family: "Chewy", system-ui;
        
   }
   p {
    color:rgba(59, 61, 61, 0.942);
    font-size: 25px;
    font-family: "Satisfy", cursive;
    text-align: justify;
 font-weight: 900;
   }
   .bg {  
    
    height: 500px;
    /*height vem do ingles e significa altura*/
    width: 100%;
    /*width vem do ingles e significa largura*/
    /* espaço determinado para onde a imagem tem que caber */
   
    background-image: url(DALL·E\ 2024-10-03\ 17.43.59\ -\ A\ minimalist\ and\ elegant\ image\ that\ reflects\ the\ theme\ of\ image\ cropping\ and\ presentation\ in\ web\ design.\ The\ image\ should\ feature\ a\ large\ central\ phot.webp);
    
    background-size: cover;

    background-repeat: no-repeat;
  
    background-position: center;
    background-attachment: fixed;
    
   }
   

 