#secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
}

h1 {
    margin-left: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #EB2CB3;
}

p {
    font-size: 18px;
    color: #0b0202;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
}

#textovideo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-align: justify;
}

#titulovideo {
    margin-left: 20px;
}

#carrossel {

    background-color: rgb(251, 178, 228);
    height: 350px;
}

#cards {
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
}

.card {
    margin-left: 50px;
}

#setaesquerda {
    display: none;
}

#Bruna {

    display: none;
}

.seta {
    margin-top: 50%;
    cursor: pointer;
}

.seta:hover {
    transform: translateX(7px);
 
    transition: 0.5s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fce4ec; 
    color: #333; 
  }
  
 